.PreviewCard {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  min-width: 300px;
  width: 300px;
  background-color: #ccc;
  border: 1px solid black;
  box-shadow: gray 8px 8px 8px 8px;
  align-items: center;
}

.Name {
  margin: 0;
  margin-top: 0.5rem;
  color: purple;
}

.Type {
  margin: 0;
  margin-bottom: 0.5rem;
  color: rgb(65, 1, 65);
  font-size: 1rem;
}

.Details {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.DetailsPair {
  display: flex;
  justify-content: space-between;
}

.Empty {
  background-color: rgb(231, 164, 164);
}

.PreviewList {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  justify-content: flex-start;
}

.Message {
  width: 100%;
  font-size: 1.2rem;
  text-align: center;
}
